{{- $name := promptStringOnce . "name" "Git user name" -}}
{{- $email := promptStringOnce . "email" "Git email address" -}}
{{- $minimal := promptBoolOnce . "minimal" "Minimal installation" false -}}
{{- $claude_mcp := promptBoolOnce . "claude_mcp" "Setup Claude MCP" true -}}

[data]
    name = {{ $name | quote }}
    email = {{ $email | quote }}
    minimal = {{ $minimal }}
    claude_mcp = {{ $claude_mcp }}

[git]
    autoPush = false
    autoCommit = true

[edit]
    command = "nvim"

[merge]
    command = "nvim"
    args = ["-d"]
