{{- $name := promptStringOnce . "name" "Git user name" -}}
{{- $email := promptStringOnce . "email" "Git email address" -}}
{{- $minimal := .minimal | default false -}}
{{- $conda := .conda | default false -}}
{{- $claude_mcp := .claude_mcp | default true -}}

[data]
    name = {{ $name | quote }}
    email = {{ $email | quote }}
    minimal = {{ $minimal }}
    conda = {{ $conda }}
    claude_mcp = {{ $claude_mcp }}

[git]
    autoPush = false
    autoCommit = true

[edit]
    command = "nvim"

[merge]
    command = "nvim"
    args = ["-d"]
