let mapleader=" "

""" Plugins  --------------------------------
set multiple-cursors
" set easymotion
set textobj-entire

" ys, cs, ds, S
set surround
" gcc, gc + motion, v_gc
set commentary
" argument text objects: aa, ia
set argtextobj
" cx{motion} to select, again to exchange
set exchange

set highlightedyank

set matchit

set so=5
set incsearch
set hlsearch
set ignorecase
set smartcase
set visualbell
set noerrorbells


set ideajoin
set ideamarks
set ideastatusicon=gray
set idearefactormode=keep
set showmode

set number
set relativenumber

""" IdeaVim development stuff
set ideastrictmode


set clipboard^=unnamedplus,unname,ideaput

""" Mappings
nnoremap <leader>a <Action>(ShowIntentionActions)
vnoremap <leader>a <Action>(ShowIntentionActions)
nnoremap <leader>re <Action>(RenameElement)
nnoremap <leader>rf <Action>(RenameFile)
nnoremap <leader><cr> :nohlsearch<CR>


" actions
nnoremap <leader>q <Action>(CloseContent)
nnoremap <leader>Q <Action>(ReopenClosedTab)
nnoremap <leader>\ <Action>(VimFilePrevious)
nnoremap <leader>s <Action>(SearchEverywhere)
nnoremap <leader>E <Action>(Switcher)
nnoremap <leader>t <Action>(FileStructurePopup)
nnoremap <leader>T <Action>(GotoSymbol)
nnoremap <leader>A <Action>(GotoAction)
nnoremap <Leader>ic <Action>(InspectCode)
nnoremap gR <Action>(ShowUsages)
nnoremap gr <Action>(FindUsages)
nnoremap gi <Action>(GotoImplementation)

" unimpaired mappings
nnoremap [<leader> O<esc>j
nnoremap ]<leader> o<esc>k
nnoremap [q <Action>(PreviousOccurence)
nnoremap ]q <Action>(NextOccurence)
nnoremap [m <Action>(MethodUp)
nnoremap ]m <Action>(MethodDown)
nnoremap [h <Action>(VcsShowPrevChangeMarker)
nnoremap ]h <Action>(VcsShowNextChangeMarker)
nnoremap [b <Action>(PreviousTab)
nnoremap ]b <Action>(NextTab)
nnoremap [d <Action>(GotoPreviousError)
nnoremap ]d <Action>(GotoNextError)

" Moving lines
nmap [e <Action>(MoveLineUp)
nmap ]e <Action>(MoveLineDown)
" Moving statements
nmap [s <Action>(MoveStatementUp)
nmap ]s <Action>(MoveStatementDown)

" Search
nmap <leader>/ <Action>(FindInPath)

" built-in navigation to navigated items works better
nnoremap <c-o> :action Back<cr>
nnoremap <c-i> :action Forward<cr>
" but preserve ideavim defaults
nnoremap g<c-o> <c-o>
nnoremap g<c-i> <c-i>


" built in search looks better
nnoremap / <Action>(Replace)
" but preserve ideavim search
nnoremap g/ /

nmap <leader>w <Action>(SaveDocument)

nmap <leader>f <Action>(GotoFile)

map \r <Action>(ReformatCode)
nmap \t <Action>(Refactorings.QuickListPopupAction)
vmap \t <Action>(Refactorings.QuickListPopupAction)

nmap crc <Action>(StringManipulation.ToCamelCase)
nmap crm <Action>(StringManipulation.ToPascalCase)
nmap cr_ <Action>(StringManipulation.ToSnakeCase)
nmap cru <Action>(StringManipulation.ToScreamingSnakeCase)
